<a href="https://colab.research.google.com/github/NhonoLama/hw/blob/main/list_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Make a list of ten students in your class. Print the name of each student whose name starts with ‘B’.

In [2]:
stds= ['ram','shyam','rabin','alsiha','Bikram','yogesh','rohit','ganesh','Bhuwan',"Bibek"]
for i in stds:
   if i[0]=='B':print(i)
if i[0] != 'B' :print('no such nam')

Bikram
Bhuwan
Bibek

In [8]:
stds[1]= "anrida"
for i in stds:
   if i[-1]=='a':print(i)

anrida
alsiha
no such name

Print all the unique elements in the following list 
fifa = ['Italy','Argentina','Germany','Brazil','France','Brazil','Italy','Spain','Germany','France']

In [ ]:
fifa = ['Italy','Argentina','Germany','Brazil','France','Brazil','Italy','Spain','Germany','France']
fifas=[]
for x in fifa:
        if x not in fifas:
          fifas.append(x)
for x in fifas:
  print(x)

Italy
Argentina
Germany
Brazil
France
Spain

Change the first alphabet of all elements of the following list to capital.
Bob = [‘hurricane’,’tambourine’,’blowing’,’numb’]

In [ ]:
Bob = ['hurricane','tambourine','blowing','numb']
for i in Bob:
  print(i.title())

Hurricane
Tambourine
Blowing
Numb

A = [‘a’,’b’,’c’,’d’] B = [‘1’,’a’,’2’,’b’]
Find  and AUB and AintersectonB

In [ ]:
A=['a','b','c','d']
B=['1','a','2','b']

for i in A:
  print(i)
for i in B:
  if i not in A:
    print(i)

a
b
c
d
1
2

In [ ]:
for i in B:
    if i in A:
      print(i)

a
b

Calculate the mean and standard deviation of the following list:
Numbers = [1,2,3,5,88,99,55,33,41,52]

In [14]:
import math
Numbers = [1,2,3,5,88,99,55,33,41,52]
mean = (sum(Numbers)/len(Numbers))
print("mean = ",mean)
sd=[]
for num in Numbers:
  sd.append((num - mean)**2)
print("sd = ",math.sqrt((sum(sd)/len(Numbers))))

mean =  37.9
sd =  34.232878932394804